<div class="content cacher">
  <img src="./assets/img/slide/inclavier.jpg" class="d-block w-100 h-cover" alt="image">
  <p class="rgba"></p>
  <div class="profil">
    <img src="./assets/img/kirrua.png" class="redi" alt="image-profile">
  </div>
  <div class="text">
    <h1>Curriculum vitae</h1><br>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat ipsum quos id ea similique odio officiis ut, doloremque, corporis nesciunt beatae sit distinctio aliquam repudiandae. Excepturi molestias unde quo nemo.</p>
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cupiditate beatae quia quo facilis deleniti  </span> <br>
    <a class="btn btn-info my-2 my-sm-0" href="./assets/Documents/cv-moussa.pdf" target="_blank" role="button">Télècharger-CV</a>
  </div>
</div>

<section class="cache">
  <div class="">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./assets/img/slide/web.jpg" class="d-block w-100 h-cover" alt="image">
        </div>
      </div>
    </div>
    <div class="banner">
      <img src="./assets/img/kirrua.png" class="profil" alt="image-profile">
      <div class="">
        <h1>

        </h1>
        <p></p>
        <p></p>
      </div>
    </div>
  </div>
</section>

<nav class="navbar navbar-expand navbar-dark bg-primary shadow">
  <a class="navbar-brand" href="#">
    <img src="./assets/img/kirrua.png" class="d-inline-block align-top rondCover" alt="">
    AMstrong/>
  </a>
  
  <div class="navbar-nav">
    <a class="nav-link active" href="#" id="Dev">Compétence-dev <span class="sr-only">(current)</span></a>
    <a class="nav-link" href="#" id="Logi">Compétence-logi</a>
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Tutos</a>
    <a class="nav-link" href="#">Contact</a>
  </div>
</nav>
